# Environment variables (HIDE YOUR API KEY)
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

satellite_images/.DS_Store
data_sources/port_crime.log
data_sources/output/
data_sources/cargo_theft_all_years.csv
data_sources/cargo_theft_port_relevant.csv
data_sources/CSV Files/cargo_theft_all_years.csv
data_sources/CSV Files/cargo_theft_port_relevant.csv
app/data/query_cache.json
data_sources/.env
.DS_Store
.venv/

# Nodegit push o
frontend/node_modules/
node_modules/